<div class="row mt-4">
  <div class="col-lg-4"></div>
  <div class="col-lg-4">
    <div class="outer-container">
      <div class="input-add">
        <input type="text" #addTask placeholder="Add Your Task">
        <button type="submit" (click)="newTask(addTask.value)" class="glow-on-hover" id="newtaskbtn">ADD</button>
      </div>
      <div class="removeallcont" *ngIf="tasks.length >=1 ">
        <button (click)="removeAll()" class="btn btn-danger">Remove All</button>
      </div>
      <div class="allnotes">
        <div class="notes-card" *ngFor="let item of tasks">
          <p>{{item.title}}</p>
          <button (click)="removeTask(item.id)">x</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
</div>
